<nav class="navbar border-bottom navbar-expand-lg py-3 navbar-light sticky-top" style="background-color: rgba(255, 255, 255, 0.75);">
  <a class="navbar-brand" href="#"> <img src={{data.brandIconUrl}} width="30" height="30" class="d-inline-block align-top" alt="">{{data.brandName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {{#each data.links}}
      <li class="nav-item active">
        <a class="nav-link" href="{{this.url}}">{{this.label}} <span class="sr-only">(current)</span></a>
      </li>
      {{/each}}
      
    </ul>

  </div>
</nav>
